<!DOCTYPE html>
<html>
<head>
  <title>Satoshy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="satoshy">

<%= yield %>

</body>
</html>
